swagger: "2.0"
info:
  title: Sample API
  version: 1.0.0

host: "apigatewa-b5ubsxme.uc.gateway.dev"
schemes:
  - https

paths:
  /users:
    get:
      summary: "Returns a list of users."
      operationId: getUsers
      produces:
        - application/json
      responses:
        "200":
          description: "A JSON array of user objects"
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                email:
                  type: string
      x-google-backend:
        address: https://user-service-874723527734.us-central1.run.app/users  # URL correcta de tu servicio de backend

  /products:
    get:
      summary: "Returns a list of products."
      operationId: getProducts
      produces:
        - application/json
      responses:
        "200":
          description: "A JSON array of product objects"
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                price:
                  type: number
      x-google-backend:
        address: https://product-service-874723527734.us-central1.run.app/products  # URL correcta de tu servicio de backend

  /orders:
    get:
      summary: "Returns a list of orders."
      operationId: getOrders
      produces:
        - application/json
      responses:
        "200":
          description: "A JSON array of order objects"
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                status:
                  type: string
                amount:
                  type: number
      x-google-backend:
        address: https://order-service-874723527734.us-central1.run.app/orders # URL correcta de tu servicio de backend
